/* THE MEYER RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS CODE */
body {
    width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: aliceblue;
}

.gameboards {
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-container {
    background-color: beige;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
}

.ai-gameboard {
    display: none;
}

.grid-cell {
    background-color: darkseagreen;
}

.computer-grid-cell:hover {
    background-color: olive;
}

.grid-cell-attacked {
    background-color: cornflowerblue;
}

.grid-cell-attacked:hover {
    background-color: cornflowerblue;
}

.player-grid-cell-battleship {
    background-color: black;
}

.grid-cell-hit {
    background-color: crimson;
}

.grid-cell-hit:hover {
    background-color: crimson;
}

.select-grid-length-5 {
    background-color: beige;
    display: grid;
    grid-template-rows: 29px;
    grid-template-columns: repeat(5, 29px);
    gap: 1px;
}
.select-grid-length-4 {
    background-color: beige;
    display: grid;
    grid-template-rows: 29px;
    grid-template-columns: repeat(4, 29px);
    gap: 1px;
}
.select-grid-length-3 {
    background-color: beige;
    display: grid;
    grid-template-rows: 29px;
    grid-template-columns: repeat(3, 29px);
    gap: 1px;
}
.select-grid-length-2 {
    background-color: beige;
    display: grid;
    grid-template-rows: 29px;
    grid-template-columns: repeat(2, 29px);
    gap: 1px;
}
.select-grid-length-1 {
    background-color: beige;
    display: grid;
    grid-template-rows: 29px;
    grid-template-columns: 29px;
    gap: 1px;
}

.select-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5px;
}

.select-ships {
    background-color: black;
}

.select-ships:hover {
    cursor: pointer;
}